
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
	padding: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#navbar {
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

.wrapper ul {
	list-style-type: none !important;
	padding-left: 0;
}

.footer {
	margin: 20px;
}

.footer button {
	margin: 20px;
}

.requirements {
	padding-top: 20px;
}
